.A{
    background-color: #54bebe;
}
.B{
    background-color: #76c8c8;
}
.C{
    background-color: #98d1d1;
}
.D{
    background-color: #badbdb;
}
.E{
    background-color: #dedad2;
}
.F{
    background-color: #e4bcad;
}
.G{
    background-color: #df979e;
}
.H{
    background-color: #d7658b;
}
.I{
    background-color: #c80064;
}
.J{
    background-color: #0080E3;
}
.K{
    background-color: #A33A47;
}